:root{
    --azul-oscuro: #000022;
    --violeta: #6747c7;
    --lila: #a68feb;
}
*{
    box-sizing: border-box;
    /* outline: 1px solid white; */
    margin: 0;
    scroll-behavior: smooth;
}
html{
    
    background-color: var(--azul-oscuro);
    height: 100vh;
    height: 100dvh;
}
body{
    color: var(--violeta);
    width: 1000px;
    margin: 0 auto;
}
a{
    color: var(--violeta);
    text-decoration: none;
}
a:hover{
    color: var(--lila);
}
nav{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    font-size: 30px;
    height: 50px;
    position: sticky;
    top:0;
    z-index: 1;
    background-color: var(--azul-oscuro);
}
h1{
    color: #d0c2fc;
    font-size: 60px;
    padding: 10px 0;
}
h2{
    font-size: 40px;
    color: var(--lila);
}
p{
    font-size: 20px;
}
#inicio{
    padding: 300px 20px;
    height: 100vh;
    height: 100dvh;
}
#sobre-mi{
    display: flex;
    justify-content: space-between;
    text-align: center;
    color: var(--lila);
    align-items: center;
    height: 100vh;
    height: 100dvh;
}
#presentacion{
    margin: 0 40px;
}
#presentacion h2{
    font-size: 60px;
    margin-bottom: 60px;
}
img{
    border-radius: 15px;
}
#presentacion-texto{
    width: 60%;
    padding: 20px;
}
#presentacion-texto p{
    padding: 10px;
}
