:root{
    --azul-oscuro: #000022;
    --violeta: #6747c7;
    --lila: #a68feb;
}
*{
    box-sizing: border-box;
    /* outline: 1px solid white; */
    margin: 0;
    scroll-behavior: smooth;
}
html{
    
    background-color: var(--azul-oscuro);
    height: 100vh;
    height: 100dvh;
}
body{
    color: var(--violeta);
    width: 1000px;
    margin: 0 auto;
}
a{
    color: var(--violeta);
    text-decoration: none;
}
a:hover{
    color: var(--lila);
}
nav{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    font-size: 30px;
    height: 50px;
    position: sticky;
    top:0;
    z-index: 1;
    background-color: var(--azul-oscuro);
}
section{
    height: 100vh;
    height: 100dvh;
}
h1{
    color: #d0c2fc;
    font-size: 70px;
    padding: 10px 0;
}
h2{
    font-size: 40px;
    color: var(--lila);
    font-size: 60px;
}
p{
    font-size: 20px;
}
#inicio{
    padding: 300px 20px;
}

/* SOBRE MI */

#sobre-mi, #proyectos{
    display: flex;
    justify-content: space-between;
    text-align: center;
    color: var(--lila);
    align-items: center;
}
#presentacion{
    margin: 0 40px;
}
#presentacion h2{
    margin-bottom: 60px;
}
#presentacion img{
    border-radius: 15px;
}
#presentacion-texto{
    width: 60%;
    padding: 20px;
}
#presentacion-texto p{
    padding: 10px;
}

/* PROYECTOS */

#proyectos{
    gap: 10px
}
#contenedor-proyectos{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}
#contenedor-proyectos div{
    width: 200px;
    height: 210px;
    background-color: var(--violeta);
    color: var(--azul-oscuro);
    font-size: 30px;
    padding: 10px;
    border: 2px solid var(--lila);
}
#contenedor-proyectos div:hover{
    transform: rotate(5deg);
}

/* CERTIFICADOS */

#certificados{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#certificados h2, #contacto h2{
    margin: 100px;
}
li{
    font-size: 40px;
    list-style: none;
}

/* CONTACTO */

#contacto{
    text-align: center;
}